/* ボタン */
.defaultButton {
  background-color: #4a8cf0;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 0.5rem;
}

/* ボタン（ホバー時） */
.defaultButton:hover {
  background-color: #3a6fc0;
}
