* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #f2f2f2;
  background-color: #333;
  width: 90%;
  margin: 30px auto;
}

a {
  color: inherit;
  text-decoration: none;
}
